@model Restaurant
@{
    ViewBag.Title = "Create Restaurant";
}
<div class="col-md-4">

</div>
<form method="post" asp-controller="Restaurant" asp-action="Create" class="form-horizontal col-md-4 col-md-offset-4" autocomplete="off">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="Name"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" placeholder="Restaurant Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="Cuisine"></label>
        <div class="col-md-10">
            <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(Cuisine))" class="form-control">
                <option>Select</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</form>